.ResetPassword {
  display: flex;
}

.ResetPassword_Form {
  width: 450px;
  height: fit-content;
  margin: 40px auto;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.Confirm_New_Password{
    width: 450px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
}